.title {
  color: var(--mui-palette-primary-main);
}

.review {
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rateContainer {
  display: flex;
  gap: 20px;
  align-items: center;
}

.infoContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin-top: 20px;
}

.info {
  display: flex;
  gap: 10px;
}

.markdown {
  width: 100%;
  max-width: 650px;
  margin: 50px auto 0;
}

.markdown p {
  text-align: center;
}

.text {
  font-size: 22px;
}
