.container {
  width: 50%;
  height: 100%;
  padding: 15px;
  border-right: 2px solid rgb(0, 0, 0);
}

.title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 15px;
  padding: 8px 0;
  border-bottom: 2px solid rgb(0, 0, 0);
}

.textarea {
  width: 100%;
  height: 100%;
  resize: none;
  border: none;
  outline: none;
  margin-top: 17px;
  font-size: 17px;
  background-color: var(--mui-palette-background-paper);
  color: var(--mui-palette-common-onBackground);
}

.result__container {
  width: 50%;
  height: 100%;
  padding: 15px;
}

.resultArea {
  width: 100%;
  height: 100%;
  border: none;
  font-size: 17px;
  word-break: break-word;
}
