.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation__left,
.navigation__right {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 20px;
}
