.container {
  padding: 50px;
}

.reviewsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  margin-top: 50px;
}

.title {
  color: var(--mui-palette-primary-main);
}

.tagCloud {
  padding: 20px;
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 50px;
}
